.element {
    background-color: #fff;
    color: #1C1A1A;
    font-weight: 700;
    font-size: 24px;
    padding: 30px 70px;
    margin-bottom: 20px;
}

.element:nth-child(even){
    background-color: #d372ec;
    color: #dbd5db;
    position: relative;
}


.list {
    content: "";
    list-style: none;
    padding: 0;
}

.element {
    position: relative;    
}

li::after {
    content: "";
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-image: url("./img/open-purple.svg");
    background-size: cover;
}